@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.shiki-container pre.shiki {
  padding: 0.75rem;
  margin: 0;
  overflow-x: auto;
  border-radius: 0.25rem;
}

.shiki-container pre.shiki code {
  font-size: 0.75rem;
  line-height: 1.5;
}
